body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 3% ;
    background: #fff;
    margin: 10 10 10 10 ;
}
header .logo {
    font-size: 24px;
}

header .logo span {
    font-weight: bold;
}

header .social-icons a {
    margin: 0 10px;
}
header .social-icons a>img {
    background-color: gray;
    border-radius: 50px;
}
main {
    padding: 20px;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
}

.intro h1 {
    font-size: 28px;
}

.intro img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.features .feature {
    text-align: center;
    width: 30%;
}

.features .feature img {
    max-width: 100px;
    border-radius:10px;
}

.simple-beautiful {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.simple-beautiful img {
    width: 50%;
    margin-right: 20px;
    border-radius:10px;
}

.right-now {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.right-now img {
    width: 50%;
    margin-left: 20px;
    border-radius:10px;
}

.right-now .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #e74c3c;
    color: #fff;
    text-decoration: none;
}

footer {

    padding: 20px;
    text-align: center;
}

footer .twitter {
    margin-bottom: 10px;
    background: #f1f1f1;
    
}

footer .newsletter {
    margin-bottom: 20px;
}

footer .newsletter form {
    display: flex;
    justify-content: center;
    
}

footer .newsletter input {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
    border-radius: 10px;
}

footer .newsletter button {
    padding: 10px 20px;
    background: red;
    color: white;
    border-radius: 10px;
}

footer .footer-social-icons a {
    margin: 0 10px;
    
}
footer .footer-social-icons a>img {
    background-color: gray;
    border-radius: 50px; 
}
